<p id="notice"><%= notice %></p>

<p>
  <strong>Correct:</strong>
  <%= @guess.correct %>
</p>

<p>
  <strong>Word:</strong>
  <%= @guess.word_id %>
</p>

<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
