<p id="notice"><%= notice %></p>

<p>
  <strong>English:</strong>
  <%= @word.english %>
</p>

<p>
  <strong>Greek:</strong>
  <%= @word.greek %>
</p>

<p>
  <strong>Group:</strong>
  <%= @word.group_id %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
